.header {
  text-align: center;

  h1 {
    font-weight: 500;
  }

  .breadcrumb {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    span {
      color: var(--primary);
    }
  }
}